html,
body {
  margin: 0;
  height: 100%;
}
body {
  padding: 20px;
}
.editor {
  color: #383a42;
  background: #fafafa;
  white-space: pre-wrap;
  -webkit-user-modify: read-write-plaintext-only;
  font-size: 20px;
  padding: 1em 0.5em;
  min-height: 300px;
  outline-width: 4px;
  outline-color: cornflowerblue;
}
::highlight(built_in) {
  color: #c18401;
}
::highlight(comment) {
  color: #a0a1a7;
  font-style: italic;
}
::highlight(number),
::highlight(selector-class) {
  color: #986801;
}
::highlight(attr) {
  color: #986801;
}
::highlight(string) {
  color: #50a14f;
}
::highlight(selector-pseudo) {
  color: #986801;
}
::highlight(attribute) {
  color: #50a14f;
}
::highlight(keyword) {
  color: #a626a4;
}
